<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504430302156-ifj6hm63t2sghscie2hjhj77ses58hhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504430302156-ifj6hm63t2sghscie2hjhj77ses58hhu</string>
	<key>API_KEY</key>
	<string>AIzaSyCF-SX9xlw2eZYYa79al7ZM5o16X5pRgCE</string>
	<key>GCM_SENDER_ID</key>
	<string>504430302156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ourTestProject</string>
	<key>PROJECT_ID</key>
	<string>test-botany-project</string>
	<key>STORAGE_BUCKET</key>
	<string>test-botany-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504430302156:ios:1e084e80c78dde0cde0369</string>
</dict>
</plist>